@using GIFrameworkMaps.Data.ViewModels.Management
@model VersionAddContactViewModel
@{
    ViewData["Title"] = "Add/Edit a version contact";
}

<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm("AddContact", "ManagementVersion", null, FormMethod.Post, true, null))
{
    <div class="row mt-4">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="ContactEntry.UserId" class="control-label"></label>
                <div id="userSelectHelpText" class="form-text">
                    Start typing to find the user
                </div>
                <select asp-for="ContactEntry.UserId" class="form-control" data-autocomplete="true" aria-describedby="userSelectHelpText">
                    if (Model.ContactEntry.UserId == null)
                    {
                    <option value="" data-abbreviations=""></option>
                    }
                    @foreach (var user in Model.ListOfUsers.OrderBy(u => u.DisplayName))
                    {
                        
                        if (user.Id == Model.ContactEntry.UserId)
                        {
                            <option value=@user.Id data-abbreviations="@user.DisplayName" selected>@user.DisplayName</option>
                        }
                        else
                        {
                            <option value=@user.Id data-abbreviations="@user.DisplayName">@user.DisplayName</option>
                        }
                    }
                </select>
                <span asp-validation-for="ContactEntry.UserId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ContactEntry.DisplayName" class="control-label"></label>
                <input asp-for="ContactEntry.DisplayName" class="form-control" />
                <span asp-validation-for="ContactEntry.DisplayName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="ContactEntry.Enabled" class="form-check-input" />
                <label asp-for="ContactEntry.Enabled" class="form-check-label"></label>
                <span asp-validation-for="ContactEntry.Enabled" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="mb-3">
                <input type="hidden" asp-for="ContactEntry.VersionId" />
                <input type="hidden" asp-for="ContactEntry.VersionContactId" />
                <div class="mb-3">
                    <input type="submit" value="Save Contact" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <a asp-action="EditContacts" asp-route-id="@Model.ContactEntry.VersionId">Cancel</a>
            </div>
        </div>
    </div>
}

<link rel="stylesheet" href="~/css/accessible-autocomplete.min.css" />