@using Microsoft.Graph.Beta.Models;
@model GIFrameworkMaps.Data.Models.ViewModels.Management.VersionEditModel
@{
    ViewData["Title"] = $"Edit version '{Model.Version.Name}'";
}

<h1>@ViewData["Title"]</h1>
<p class="lead">Manage user version contacts and alerts</p>

<a asp-action="Edit" asp-route-id="@Model.Version.Id">Go back to version settings</a>

<p>
    You can add a list of contacts for this version below and specify whether or not they should recieve a broadcast notifications when the version has been updated <span class="text-warning">(not yet available)</span>
 </p>

@if (Model.Version.VersionContacts != null)
{
    <a href="@Url.Action("AddContact", "ManagementVersion",new {Id = Model.Version.Id})" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add a contact entry</a>
    <table id="userTable" class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Display Name</th>
                <th>Email(s)</th>
                <th>Alert of Changes</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Version.VersionContacts.Count > 0)
            {
                foreach (var user in Model.Version.VersionContacts.OrderBy(u => u.DisplayName))
                {
                    User? currentUser = Model.UserDetails.Where(u => u.Key == user.UserId).ToList().Count() == 1 ? Model.UserDetails.FirstOrDefault(u => u.Key == user.UserId).Value : null;
                    if (currentUser != null)
                    {
                        <tr>
                            <td>@Html.ActionLink("Edit entry", "EditContact",new {Id = Model.Version.Id, VersionContactId = user.VersionContactId})</td>
                            <td>@Html.ActionLink(user.DisplayName, "Edit", "ManagementUser", new { id = currentUser.Id })</td>
                            <td>
                                @foreach (var mail in currentUser.OtherMails)
                                {
                                    @mail

                                    <br />
                                }
                            </td>
                            @if (user.Enabled)
                            {
                                <td><span class="badge bg-success">Yes</span></td>
                            } else
                            {
                                <td></td>
                            }
                            <td>@Html.ActionLink("Remove entry", "DeleteContact",new {Id = Model.Version.Id, VersionContactId = user.VersionContactId}, new {@Class="text-danger"})</td>
                        </tr>
                    }
                }
            } else
            {
                <div class="alert alert-info mt-1">There are no users are associated with this version yet</div>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning mt-1">We were unable to work out which users are associated with this version</div>
}


