@using Microsoft.Graph.Beta.Models;
@model GIFrameworkMaps.Data.Models.ViewModels.Management.VersionEditModel
@{
    ViewData["Title"] = $"Edit version '{Model.Version.Name}'";
    List<string> emailList = new List<string>();
    List<string> ContactableUsers = Model.Version.VersionContacts.Where(u => u.Enabled == true).Select(u => u.UserId).ToList();
    if (ContactableUsers.Count > 0)
    {
        List<User> ContactableUserList = Model.UserDetails.Where(u => ContactableUsers.Contains(u.Value.Id)).Select(u => u.Value).ToList();
        if( ContactableUserList.Count > 0)
        {
            foreach (User user in ContactableUserList)
            {
                foreach(string email in user.OtherMails)
                {
                    emailList.Add(email);
                }
            }
        }
    }
    string mailingList = string.Join(";",emailList);
}

<h1>@ViewData["Title"]</h1>
<p class="lead">Manage user version contacts</p>

<a asp-action="Edit" asp-route-id="@Model.Version.Id">Go back to version settings</a>

<p>
    You can add a list of contacts for this version below and specify whether or not they should recieve messages relating to this version.
 </p>

@if (Model.Version.VersionContacts != null)
{
    <a href="@Url.Action("AddContact", "ManagementVersion",new {Id = Model.Version.Id})" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add a contact entry</a>
    <a href="mailto:@(mailingList)?subject=Re:%20DorsetExplorer%20version%20=%20@(Model.Version.Name)" class="btn btn-primary float-end"><i class="bi bi-envelope-at"></i> Draft an email</a>
    <table id="userTable" class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Display Name</th>
                <th>Email(s)</th>
                <th>Mailing List</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Version.VersionContacts.Count > 0)
            {
                foreach (var user in Model.Version.VersionContacts.OrderBy(u => u.DisplayName))
                {
                    User? currentUser = Model.UserDetails.Where(u => u.Key == user.UserId).ToList().Count() == 1 ? Model.UserDetails.FirstOrDefault(u => u.Key == user.UserId).Value : null;
                    if (currentUser != null)
                    {
                        <tr>
                            <td>@Html.ActionLink("Edit entry", "EditContact",new {Id = Model.Version.Id, VersionContactId = user.VersionContactId})</td>
                            <td>@Html.ActionLink(user.DisplayName, "Edit", "ManagementUser", new { id = currentUser.Id })</td>
                            <td>
                                @foreach (var mail in currentUser.OtherMails)
                                {
                                    @mail

                                    <br />
                                }
                            </td>
                            @if (user.Enabled)
                            {
                                <td><span class="badge bg-success">Yes</span></td>
                            } else
                            {
                                <td></td>
                            }
                            <td>@Html.ActionLink("Remove entry", "DeleteContact",new {Id = Model.Version.Id, VersionContactId = user.VersionContactId}, new {@Class="text-danger"})</td>
                        </tr>
                    }
                }
            } else
            {
                <div class="alert alert-info mt-1">There are no users are associated with this version yet</div>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning mt-1">We were unable to work out which users are associated with this version</div>
}


