@using GIFrameworkMaps.Data.Models;
@model GIFrameworkMaps.Data.Models.VersionLayer

@{
    ViewData["Title"] = $"Delete layer customisation";
}

<h1>@ViewData["Title"]</h1>
<p class="lead">Are you sure you want to delete this layer customisation?</p>

<form asp-action="DeleteLayerCustomisation" method="post">
    <div class="row mt-4 mb-2">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <input type="hidden" asp-for="Id" />

            <table class="table table-striped">
                <tr>
                    <th>Layer name</th>
                    <td>@Model.Layer.Name</td>
                </tr>
                <tr>
                    <th>Category name</th>
                    <td>@Model.Category.Name</td>
                </tr>
            </table>
            
            <div class="mb-3">
                <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
                <a asp-action="EditLayerCustomisation" asp-route-id="@Model.VersionId" asp-route-layerid="@Model.LayerId" asp-route-categoryid="@Model.CategoryId" class="btn btn-link">Cancel</a>
            </div>

        </div>
    </div>
</form>



