@model GIFrameworkMaps.Data.Models.ViewModels.Management.LayerSourceEditModel
@{
    ViewData["Title"] = $"Edit layer source '{Model.LayerSource.Name}'";
}

<h1>@ViewData["Title"]</h1>
<div class="row mt-2 mb-2">
    <div class="col-md-8 col-lg-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <input type="hidden" asp-for="LayerSource.Id" />
            <div class="mb-3">
                <label asp-for="LayerSource.Name" class="control-label"></label>
                <input asp-for="LayerSource.Name" class="form-control" />
                <span asp-validation-for="LayerSource.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LayerSource.Description" class="control-label"></label>
                <textarea asp-for="LayerSource.Description" class="form-control"></textarea>
                <span asp-validation-for="LayerSource.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LayerSource.LayerSourceTypeId" class="control-label"></label>
                <select asp-for="LayerSource.LayerSourceTypeId" asp-items="Model.AvailableLayerSourceTypes" class="form-select"></select>
                <span asp-validation-for="LayerSource.LayerSourceTypeId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LayerSource.AttributionId" class="control-label"></label>
                <select asp-for="LayerSource.AttributionId" asp-items="Model.AvailableAttributions" class="form-select" data-attribution-select="true"></select>
                <span asp-validation-for="LayerSource.AttributionId" class="text-danger"></span>
                <div class="alert alert-light small" role="alert" id="attribution-render-target">
                </div>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                <a asp-action="Index" class="btn btn-link">Cancel</a>
            </div>
        </form>
        
    </div>
    <div class="col-md-4 col-lg-6">
        
        <ul class="nav nav-underline mb-2" role="tablist">
            <li class="nav-item active" role="presentation">
                <button class="nav-link active" id="options-tab" data-bs-toggle="tab" data-bs-target="#options-tab-pane" type="button" role="tab" aria-controls="options-tab-pane" aria-selected="true">Layer Source Options</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="detalayersils-tab" data-bs-toggle="tab" data-bs-target="#layers-tab-pane" type="button" role="tab" aria-controls="layers-tab-pane" aria-selected="false">Layers using this source</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="options-tab-pane" role="tabpanel" aria-labelledby="options-tab" tabindex="0">
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                        @foreach (var opt in Model.LayerSource.LayerSourceOptions)
                        {
                            <tr>
                                <td><a asp-action="EditOption" asp-route-id="@opt.Id"><span class="bi bi-pencil"></span></a></td>
                                <th>@opt.Name</th>
                                <td style="white-space:pre-line"><code>@opt.Value</code></td>
                            </tr>
                        }

                    </table>
                </div>
                <a href="@Url.Action("CreateOption",new {id = Model.LayerSource.Id})" class="btn btn-outline-secondary">Add option</a>
            </div>
            <div class="tab-pane fade" id="layers-tab-pane" role="tabpanel" aria-labelledby="layers-tab" tabindex="0">
                @if(Model.LayersUsingSource != null && Model.LayersUsingSource.Count != 0)
                {
                    <ul class="list-group">
                        @foreach (var layer in Model.LayersUsingSource)
                        {
                            <li class="list-group-item"><a asp-action="Edit" asp-controller="ManagementLayer" asp-route-id="@layer.Id">@layer.Name</a></li>
                        }

                    </ul>
                }else{
                    <div class="alert alert-info">This layer source is not being used by any layers</div>
                }

            </div>
        </div>


        

    </div>
    
</div>
<a asp-action="Delete" asp-route-id="@Model.LayerSource.Id" class="btn btn-danger">Delete</a>

<script>
    var attributionRendererEndpoint = '@Url.Action("RenderAttributionString","Management")';
</script>
@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            const ev = new Event("CreateSourceInit")
            document.dispatchEvent(ev);
        });
    </script>
}
