@using GIFrameworkMaps.Data.Models.ViewModels.Management;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration;
@{
    string appName = configuration.GetValue<string>("GIFrameworkMaps:appName");
    string tosLink = configuration.GetValue<string>("GIFrameworkMaps:ToSLink");
    string privacyLink = configuration.GetValue<string>("GIFrameworkMaps:PrivacyLink");
    string adminDocsLink = configuration.GetValue<string>("GIFrameworkMaps:AdminDocsLink");
    AnalyticsViewModel analyticsModel = (ViewData["AnalyticsModel"] != null? (AnalyticsViewModel)ViewData["AnalyticsModel"] :new AnalyticsViewModel());
    analyticsModel.VersionID = -1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @appName</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" sizes="192x192" href="~/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="~/android-chrome-512x512.png">
    <partial name="_AnalyticsHeadPartial" model=@analyticsModel />
</head>
<body class="d-flex flex-column">
    <partial name="_AnalyticsPartial" model=@analyticsModel />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Map" asp-action="Index">@appName</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                        </li>
                        @if (User.IsInRole("GIFWAdmin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Management" asp-action="Index">Manage application</a>
                            </li>
                            @if (!String.IsNullOrEmpty(adminDocsLink) && Uri.IsWellFormedUriString(adminDocsLink, UriKind.Absolute))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" target="_blank" rel="noopener" href="@adminDocsLink">Admin Help</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow">
        <main role="main" class="pb-3">
            @{
                if (!String.IsNullOrEmpty((string)TempData["Message"]))
                {
                    <div class="alert alert-@((string)TempData["MessageType"] != "" ? TempData["MessageType"] : "info")">
                        @TempData["Message"]
                    </div>
                }
            }
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container" style="background-color:transparent">
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">
                        @if (!String.IsNullOrEmpty(tosLink) && Uri.IsWellFormedUriString(tosLink, UriKind.Absolute))
                        {
                            <li><a href="@tosLink">Terms of use</a></li>
                        }
                        @if (!String.IsNullOrEmpty(privacyLink) && Uri.IsWellFormedUriString(privacyLink, UriKind.Absolute))
                        {
                            <li><a href="@privacyLink">Privacy</a></li>
                        }
                    </ul>
                </div>
                <div class="col-sm-6">
                    <p>Built with ❤ and ☕ by the <a href="https://github.com/Dorset-Council-UK/GIFramework-Maps">Dorset Council GIS team and other contributors</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/management/management.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
