@model List<GIFrameworkMaps.Data.Models.Version>
@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration;
@{
    string appName = configuration.GetValue<string>("GIFrameworkMaps:appName");
    ViewData["Title"] = "Management";
}
<h1>@ViewData["Title"]</h1>
<p class="lead">Configure the application</p>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="ManagementVersion" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-map"></i> Versions</h4>
                    </a>
                    <p class="card-text">Create, update and delete @appName versions</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-geo"></i> Layers</h4>
                        <p class="card-text">Manage layers consumed by @appName</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-people"></i> Users</h4>
                        <p class="card-text">Manage user permissions</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-search"></i> Search definitions</h4>
                        <p class="card-text">Manage searches available in @appName</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="ManagementTheme" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-palette"></i> Themes</h4>
                        <p class="card-text">Manage themes available in @appName</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="ManagementAttribution" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-c-circle"></i> Attributions</h4>
                        <p class="card-text">Manage attributions available in @appName</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="ManagementBound" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-bounding-box-circles"></i> Bounds</h4>
                        <p class="card-text">Manage the bounds available in @appName</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-binoculars-fill"></i> Tours</h4>
                        <p class="card-text">Manage the tours available in @appName</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="ManagementWelcomeMessage" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-laptop"></i> Welcome messages</h4>
                        <p class="card-text">Manage the welcome messages available in @appName</p>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="ManagementSystem" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-gear"></i> System</h4>
                        <p class="card-text">Check and update system settings and cache</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card link-card h-100">
                <div class="card-body">
                    <a asp-action="BroadcastMessage" asp-controller="Management" class="stretched-link">
                        <h4 class="card-title"><i class="bi bi-broadcast-pin"></i> Broadcast</h4>
                        <p class="card-text">Broadcast a message to @appName users</p>
                    </a>
                </div>
            </div>
        </div>

    </div>

            
</div>

