@model GIFrameworkMaps.Data.Models.Version
@using Microsoft.Extensions.Options
@inject IOptions<GIFrameworkMapsOptions> giFrameworkMapsOptions;
@{
    string appName = giFrameworkMapsOptions.Value.appName;
    ViewData["Title"] = "Forbidden";
}

<h1>You don't have access to this version of @appName</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

@{
    // Request access to version button (conditional depending on whether there is a value in appSettings). 
    // This can be a URL to an online form, a mailto: link or anything you prefer. Make sure your tokens match those detailed below to automatically pull through the details.
    var userId = (User.Claims.FirstOrDefault(c => c.Type.Contains("nameidentifier")) != null ? User.Claims.FirstOrDefault(c => c.Type.Contains("nameidentifier")).Value : "Not provided");
    string appAccessRequestLink = giFrameworkMapsOptions.Value.AppAccessRequestLink;

    if (appAccessRequestLink != "")
    {
        string linkForVersionAccessRequest = appAccessRequestLink
            .Replace("{{VERSIONID}}", Model.Id.ToString())
            .Replace("{{VERSIONNAME}}", Model.Name)
            .Replace("{{USERNAME}}", User.Identity.Name)
            .Replace("{{USERID}}", userId);

        <a class="btn btn-primary" href="@linkForVersionAccessRequest" role="button">
            Request access to this version
        </a>
    }
}