@using GIFrameworkMaps.Data.ViewModels.Management
@model CategoryEditViewModel

@{
    // Working out the base edit URL once is significantly faster than doing it for each row
    var editUrl = Url.Action("Edit", "ManagementLayer");
}

@foreach (var layer in Model.AvailableLayers)
{
    string id = "SelectedLayers__" + layer.Value;
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="SelectedLayers" value="@layer.Value" id="@id" @(layer.Selected ? "checked=checked" : "")  />
        <label class="form-check-label" for="@id">@layer.Text <small>(ID: <a href="@editUrl/@layer.Value">@layer.Value</a>)</small></label>
    </div>
}
