@model List<GIFrameworkMaps.Data.Models.Tour.TourStep>

<a asp-action="Create" asp-controller="ManagementTourStep" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create new tour step</a>
<br><br>

<div class="accordion" id="accordionStep">

    @{
        int i = 0;
    }
    @foreach (GIFrameworkMaps.Data.Models.Tour.TourStep step in Model.OrderBy(a => a.StepNumber))
{
    <div class="accordion-item">
        <h2 class="accordion-header" id="accordion_@i">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_@i" aria-expanded="true" aria-controls="collapseOne_@i">
                @step.Title
            </button>
        </h2>
        <div id="collapseOne_@i" class="accordion-collapse collapse @(i == 0 ? "show" : "")" aria-labelledby="accordion_@i" data-bs-parent="#accordionStep">
            <div class="accordion-body">
                  @step.Content
                  <br><br>
                    <a asp-action="Edit" asp-controller="ManagementTourStep" asp-route-id="@step.Id" class="btn btn-primary"><i class="bi"></i>Edit</a>
                    <a asp-action="Delete" asp-controller="ManagementTourStep" asp-route-id="@step.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
        
        i++;
    }

</div>