@using GIFrameworkMaps.Data.ViewModels.Management
@model UserEditViewModel

@foreach (var item in Model.AvailableRoles)
{
    string id = "SelectedRoles__" + item.Value;
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="SelectedRoles" value="@item.Value" id="@id" @(item.Selected ? "checked=checked" : "") />
        <label class="form-check-label" for="@id">@item.Text</label>
    </div>
}