@model List<GIFrameworkMaps.Data.Models.WebLayerServiceDefinition>
@{
    ViewData["Title"] = "Select web service";
}
<h1>@ViewData["Title"]</h1>
<p class="lead">Find the layer you want to add from the web services available, or add your own</p>


<div class="row mt-2 mb-2">
    <h2>Choose web service</h2>
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <form>
                <div class="mb-3">
                    <label class="control-label" for="service-select">Choose a web service from the list</label>
                    <div class="input-group">
                        <select class="form-select" id="service-select">

                            @{
                                var grouped = Model.OrderBy(d => d.SortOrder).GroupBy(d => d.Category);
                            }

                            @foreach(var group in grouped)
                            {
                                <optgroup label="@group.First().Category">
                                    @foreach(var definition in group.OrderBy(d => d.SortOrder))
                                    {
                                        //TODO Temporary hack using url.content to generate correct link
                                        var proxyEndpoint = definition.ProxyMetaRequests ? Url.Content("~/proxy") : "";
                                        <option 
                                            value="@definition.Url"
                                                data-proxy-via="@proxyEndpoint"
                                                data-wms-version="@definition.Version">
                                        @definition.Name
                                        </option>
                                    }
                                </optgroup>
                                }
                        </select>
                        <button class="btn btn-outline-primary" type="button" id="web-service-list-connect">Connect</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="control-label" for="service-url">Or enter a GetCapabilities URL</label>
                    <div class="input-group">
                        <input type="url" class="form-control" id="service-url" />
                        <button class="btn btn-outline-primary" type="button" id="web-service-text-connect">Connect</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8">
            <div id="layers-loading-spinner" style="display:none;">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                Fetching layers
            </div>
            <input type="search" class="form-control form-control-sm mb-2" style="display:none;" placeholder="Type to search for a layer" id="layer-list-search" />
            <div id="web-layer-search-error" class="form-text text-danger" style="display: none;"></div>

            <div id="layer-list-container" class="list-group">
            </div>
        </div>
    </div>

</div>

<form asp-action="CreateSource" method="post" id="create-source-form">
    <input name="layerDetails" type="hidden" />
</form>

<template id="web-service-layer-item-template">
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 text-break"></h5>
            <small></small>
        </div>
        <p class="mb-1"></p>
        <button class="btn btn-sm btn-outline-primary"><i class="bi bi-plus-circle"></i> Add</button>
    </div>
</template>


<script type="text/javascript" src="~/js/management/selectwebservice.js"></script>