@using GIFrameworkMaps.Data.ViewModels.Management
@model AnalyticsViewModel
@{
    ViewData["Title"] = "System management - analytics";

    // Working out the base edit URL once is significantly faster than doing it for each row
    var editUrl = Url.Action("Edit");
}

<h1>@ViewData["Title"]</h1>

<p class="lead">
    Add, remove and manage analytics tracking and cookie controls.
</p>

<p>
    Add analytics tools to help you understand how users are interacting with the site.
</p>
<p>
    You can also add supported cookie controls where required to allow users to control analytic cookies. 
</p>

<a href="@Url.Action("Create")" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add a new analytics tracker</a>

@if (Model != null && Model.AvailableAnalytics.Count > 0)
{
    <table class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Product Key</th>
                <th>Cookie Control</th>
                <th>Last Modified</th>
                <th>Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (GIFrameworkMaps.Data.Models.AnalyticsDefinition analyticsDefinition in Model.AvailableAnalytics.OrderBy(a => a.Id))
            {
                <tr>
                    <td>@analyticsDefinition.Id</td>
                    <td><a href="@editUrl/@analyticsDefinition.Id">@analyticsDefinition.ProductName</a></td>
                    <td>@analyticsDefinition.ProductKey</td>
                    <td>@analyticsDefinition.CookieControl</td>
                    <td>@analyticsDefinition.DateModified.ToString("dd/MM/yyyy HH:mm",null)</td>
                    <td>
                        @if (!analyticsDefinition.Enabled)
                        {
                            <i class="bi bi-slash-circle me-2" title="Disabled"></i>
                        }
                        else
                        {
                            <i class="bi bi-check2-circle me-2" title="Enabled"></i>
                        }
                    </td>
                    <td>@Html.ActionLink("Remove", "Remove", new { id = analyticsDefinition.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">No analytics have been configured yet</div>
}