@using System.Security.Principal
@{
    ViewData["Title"] = "Account diagnostics";
}

<h1>@ViewData["Title"]</h1>

<h2>Basic details</h2>
    <div class="table-responsive">
        <table class="table table-striped">
        <tr><th>User name</th><td>@User.Identity.Name</td></tr>
        <tr><th>Authentication Type</th><td>@User.Identity.AuthenticationType</td></tr>
    
    </table>
</div>

<h2>Claims</h2>
<div class="table-responsive">
    <table class="table table-striped">
        @foreach (var claim in User.Claims)
        {
            <tr><th>@claim.Type</th><td>@claim.Value</td><td>@claim.Issuer</td></tr>
        }
    </table>
</div>