@using System.Security.Principal

<h3>Basic details</h3>
    <div class="table-responsive">
        <table class="table table-striped">
        <tr><th>User name</th><td>@User.Identity.Name</td></tr>
        <tr><th>Authentication Type</th><td>@User.Identity.AuthenticationType</td></tr>
    
    </table>
</div>

<h3>Claims</h3>
<div class="table-responsive">
    <table class="table table-striped">
        @foreach (var claim in User.Claims)
        {
            <tr><th>@claim.Type</th><td>@claim.Value</td><td>@claim.Issuer</td></tr>
        }
    </table>
</div>